<script>
	import { stores } from "@sapper/app"
	import StickyFooterLayout from "../components/StickyFooterLayout.svelte"
	import Tailwind from "../components/Tailwind.svelte"
	import Footer from "../../content/Footer.svelte"

	let showMainMenu = false
	const { page, session } = stores()

	$: config = $session.config
	$: path = $page.path
	$: currentPageConfig = config.pages.find((page) => path.slice(1) === page.slug)
	$: currentPageSlug = (currentPageConfig ? currentPageConfig.slug : null) || "."
	$: menuItems = config.pages
		.filter((page) => Boolean(page.appBarTitle))
		.map((page) => ({
			slug: page.slug || ".",
			title: page.appBarTitle,
		}))
	$: pageTitle = currentPageConfig ? currentPageConfig.appBarTitle || currentPageConfig.title : null
</script>

<svelte:head>
	<title>{pageTitle ? `${pageTitle} | ` : ''} {config.appBar.title.text}</title>
</svelte:head>

<Tailwind />

<StickyFooterLayout>
	<div slot="content">
		<nav class="flex items-center justify-between flex-wrap bg-primary p-6">
			<div class="flex items-center flex-shrink-0 text-white mr-6">
				<a class="font-medium text-xl tracking-tight" href="." on:click={() => (showMainMenu = false)}>
					{config.appBar.title.text}
				</a>
			</div>
			<div class="block lg:hidden">
				<button
					class="flex items-center px-3 py-2 border rounded text-gray-200 border-gray-400 hover:text-white hover:border-white"
					on:click={() => (showMainMenu = !showMainMenu)}>
					<svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
						<title>Menu</title>
						<path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
					</svg>
				</button>
			</div>
			<div class="{showMainMenu ? 'block' : 'hidden'} w-full flex-grow lg:flex lg:items-center lg:w-auto">
				<div class="text-md lg:flex lg:flex-grow lg:justify-end">
					{#each menuItems as { slug, title }}
						<a
							class="block border-b-2 {currentPageSlug === slug ? 'border-gray-200 hover:border-white' : 'border-primary'}
							lg:inline-block mt-4 lg:mt-0 text-gray-200 hover:text-white mr-4
							last:mr-0"
							href={slug}
							on:click={() => (showMainMenu = false)}>
							{title}
						</a>
					{/each}
					{#if config.navbarButtons}
						{#each config.navbarButtons as { title, url }}
							<span>
								<!-- inline-flex border-b-2 -->
								<a
									class="text-gray-200 border-gray-200 navbar-button"
									href={url}
									target="_blank">
									{title}
								</a>
							</span>
						{/each}
					{/if}
				</div>
			</div>
		</nav>

		<slot />
	</div>
	<div slot="footer">
		<Footer />
	</div>
</StickyFooterLayout>

<style>
	.navbar-button {
		border: solid;
		margin: 11px;
		padding: 8px;
		border-width: 2px;
		border-radius: 9px;
	}

	@media screen and (max-width: 1023px) {
		.navbar-button {
			@apply inline-flex border-b-2;
			margin: 12px -8px;
		}
	}
</style>
