<script context="module">
	import { getPageProps } from "./_preload"

	export async function preload(page, session) {
		const pageSlug = ""
		const context = { error: this.error, fetch: this.fetch }
		return await getPageProps(pageSlug, session.config, context)
	}
</script>

<script>
	export let configData
	export let data
	export let pageSlug

	import Config from "../models/config"
	import Page from "../components/Page.svelte"

	$: config = new Config(configData)
	$: page = config.findPageBySlug(pageSlug)
</script>

<Page {...page} {data} />
