<footer class="bg-gray-100 text-center border-t border-grey p-4">
	This website is based on
	<a class="a" href="https://gitlab.com/jailbreak/vitrine" target="_blank" style="font-weight:bold"> Vitrine </a>
	– a Hackathon Dashboard powered by
	<a class="a" href="https://www.discourse.org/" target="_blank">Discourse</a>
	and
	<a class="a" href="https://about.gitlab.com/" target="_blank">GitLab</a>
</footer>
