<script>
	export let color = "bg-primary-300"
	let className = ""
	export { className as class }
	export let classes = "items-center flex-wrap flex z-30 p-0 h-16 elevation-3 fixed left-0 right-0 top-0"
</script>

<header class="{className} {color} {classes}">
	<slot />
</header>
