<script>
	import { omit } from "ramda"

	import Card from "./Card.svelte"
	import Grid from "./Grid.svelte"

	export let items

	$: sortedItems = items.sort((a, b) => (a.title.toLowerCase() > b.title.toLowerCase() ? 1 : -1))
</script>

<Grid items={sortedItems} let:item>
	<Card {...omit(['id'], item)} />
</Grid>
