<script>
	export let html
	export let raw
	export let text

	import FormattedHtml from "./FormattedHtml.svelte"
</script>

{#if text}
	{text}
{:else if html}
	{#if raw}
		{@html html}
	{:else}
		<FormattedHtml {html} />
	{/if}
{/if}
