<script>
	export let html

	import { onMount } from "svelte"

	onMount(async () => {
		// force load of widget if html contains "twitter"
		if (html.includes("twitter") && window.twttr) {
			window.twttr.widgets.load()
		}
	})
</script>

<div class="flex flex-row items-center leading-relaxed justify-center">
	<div class="prose">
		{@html html}
	</div>
</div>

<style global>
	.prose a {
		/* text-larem-blue-600 */
		color: #0380bc;
		text-decoration: underline;
	}

	.prose a:hover {
		color: #005077;
	}

	.prose a:active {
		/* underline */
		color: #2abaff;
	}

	.prose blockquote {
		background-color: rgb(249, 249, 249);
		border-left: 0.3rem solid #e67a74;
		color: #383737;
		font-family: Courier, Georgia, Cambria, "Times New Roman", Times, serif;
		line-height: 1.3rem;
		margin: 1.1rem 1rem;
		padding: 0.8rem 1.1rem 0.8rem 1.1rem;
	}

	.prose blockquote p {
		margin: 0px;
		padding: 0px;
	}

	.prose div.meta {
		display: none;
	}

	.prose em {
		line-height: 1.5rem;
		color: rgb(80, 80, 80);
		padding-bottom: 1.5rem;
	}

	.prose h1 {
		color: #0380bc;
		font-size: 1.8rem;
		font-weight: 400;
		margin: 0;
		padding: 1.5rem 0;
		text-shadow: -2px 2px 0px rgba(0, 0, 0, 0.06);
	}

	.prose h2 {
		color: #383737;
		font-size: 1.4rem;
		font-weight: 700;
		margin-bottom: 1.25rem;
		margin-top: 1.25rem;
		padding-bottom: 0.2rem;
		border-bottom: 3px solid #f1f1f1;
		width: 100%;
	}

	.prose h3 {
		background-color: #eaf6f1;
		border: 2px solid #83c39f;
		border-radius: 0.3rem;
		color: #5f5f5f;
		font-size: 1rem;
		font-weight: 300;
		margin-bottom: 1rem;
		padding: 1.1rem 1rem;
		width: 100%;
	}

	.prose h4 {
		background-color: #fcf7ea;
		border: 2px solid #e5b855;
		border-radius: 0.3rem;
		color: #5f5f5f;
		font-size: 1rem;
		font-weight: 300;
		margin-bottom: 1rem 0;
		padding: 1.1rem 1rem;
		width: 100%;
	}

	.prose h5 {
		color: #383737;
		font-size: 1.1rem;
		font-weight: 600;
		margin: 0px;
		padding-bottom: 1.2rem;
		padding-left: 1.1rem;
	}

	.prose h6 {
		color: #0380bc;
		font-size: 1.1rem;
		font-weight: 400;
		margin: 0px;
		padding-bottom: 1.2rem;
		padding-left: 1.1rem;
	}

	.prose img {
		margin: 0 auto;
	}

	.prose li {
		/* ml-2 */
		margin-left: 0.5rem;
	}

	/* .prose mark, .prose span {
    background-color: #fff9ca;
    color: black;
    line-height: 1.5rem;
    padding: 0rem 0.4rem;
  } */

	.prose ol {
		margin-bottom: 1rem;
		margin-left: 1.5rem;
		margin-top: 1rem;
		list-style-type: decimal;
	}

	.prose p {
		color: #383737;
		margin: 0px;
		padding-bottom: 1rem;
	}

	.prose strong {
		color: black;
		font-weight: bold;
	}

	.prose ul {
		margin-bottom: 1rem;
		margin-left: 1.5rem;
		margin-top: 1rem;
		list-style-type: disc;
	}

	.prose .emoji {
		height: 1rem;
	}
</style>
