<script>
	export let items
	export let responsiveClasses = "sm:w-1/3 sm:px-2 lg:w-1/4"
</script>

<div class="px-2">
	<div class="flex flex-wrap -mx-2 justify-center">
		{#each items as item}
			<div class={`w-full mb-4 ${responsiveClasses}`}>
				<slot {item} />
			</div>
		{/each}
	</div>
</div>
