<script>
	export let banner = null
	export let title = null
</script>

{#if banner && banner.url}<img class={banner.classes || 'w-1/4 mx-auto my-8'} alt="banner" src={banner.url} />{/if}
<div class="container mx-auto p-8">
	<slot name="title">
		{#if title}
			<h1 class="my-8 text-center text-3xl w-full">{title}</h1>
		{/if}
	</slot>
	<slot />
</div>
