<script>
	export let callToActionButton
	export let data
	export let banner
	export let source
	export let subTitle
	export let title
	export let zones

	import PageLayout from "./PageLayout.svelte"
	import Source from "./Source.svelte"
	import Zones from "./Zones.svelte"
</script>

<PageLayout {title} {banner}>
	<div class="text-center mx-4">
		{#if subTitle}
			<div class="h4">{subTitle}</div>
		{/if}
		{#if callToActionButton}
			<div class="mt-8 mb-16">
				<div class="btn btn-secondary text-3xl inline-block">
					<a href={callToActionButton.url} target="_blank"> {callToActionButton.title} </a>
				</div>
			</div>
			<div>
				<hr class="my-5" />
			</div>
		{/if}
	</div>

	{#if source}
		<Source {...data} />
	{:else if zones}
		<Zones {zones} {data} />
	{/if}
</PageLayout>
