<script>
	export let sourceRenderType
	export let data

	import Cards from "./Cards.svelte"
	import Content from "./Content.svelte"
</script>

{#if data}
	{#if sourceRenderType === 'cards'}
		<Cards items={data} />
	{:else if sourceRenderType === 'content'}
		<Content {...data} />
	{/if}
{/if}
