<script>
	export let title
	export let pageSlug = null
	export let url = null

	import { getPageUrl } from "../url"

	$: href = pageSlug ? getPageUrl(pageSlug) : url
</script>

<div class="flex justify-center my-8"><a class="btn btn-secondary" {href}>{title}</a></div>
