<script>
	export let data
	export let zones

	import Source from "./Source.svelte"
	import ZoneButton from "./ZoneButton.svelte"
</script>

{#each zones as { button, source, title }, index}
	{#if index > 0}
		<hr class="my-5" />
	{/if}
	<div class="my-16">
		{#if title}
			<h2 class="my-8 text-center text-3xl">{title}</h2>
		{/if}
		<Source {...data[index]} />
		{#if button}
			<ZoneButton {...button} />
		{/if}
	</div>
{/each}
